body {
    background-color: rgb(147, 208, 229);
    margin: 0px;
  }

.table1 {
    width:100%;
    height: 75px;
    border-collapse: collapse;
    background-color: rgb(11, 116, 154);
    color:white;
}

.headerPart a{
    text-decoration: none;
    color:aliceblue;
}

.ContentPart img{
    
    width:100%;
    height:750px;
}
.footerPart{
    background-color: rgb(123, 140, 207);
}

.footerPart img{
    width: 100%;
    height:500px;
}